@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container {
    background: url(img/bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#row {
    background-color: white;
    padding: 60px;
}
#row h1 {
    font-size: 80px;
    font-family: 'Bangers', cursive;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 10px;
    color: rgb(0, 174, 255);
}
#count {
    font-size: 9rem;
    font-family: 'Bangers', cursive;
    font-weight: lighter;
    font-style: normal;
}
.btn {
    padding: 10px 40px;
    font-size: 20px;
    margin: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background-color: red;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 0px red;
    transition: 0.3s ease;
}
.btn:hover {
    background-color: black;
    box-shadow: 0px 0px 30px 0px black;
}
#row h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px 0px 0px 0px;
    font-size: 20px;
    opacity: 0.5;
}

